@model IEnumerable<Model.EF.DanhMuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<h2>Quản lý loại tour du lịch </h2>

<p style="padding:10px 5px; background:#34495e;max-width:300px;text-align:center;color:#fff">
    @Html.ActionLink("Tạo mới loại tour du lịch", "Create")
</p>
<br />
<table class="table table-bordered text-center">
    <tr>
        <th>
           Tên danh mục
        </th>
        <th>
          Ngày tạo
        </th>
        <th>
           Ngày cập nhật
        </th>
        <th>Hành động</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaDM }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaDM }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaDM })
        </td>
    </tr>
}

</table>
