@model PagedList.IPagedList<Model.EF.Tour>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EF.DanhMuc)ViewBag.DanhMuc;

}

@section style
{

    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Assets/Client/Css/listtour.css" rel="stylesheet" />
  
    <link href="~/Assets/Client/Css/news.css" rel="stylesheet" />
    <link href="~/Assets/Client/Css/slick.css" rel="stylesheet" />

}
@Html.Partial("_Slide");
<div class="inspired-list-tour">
    <h6 style="text-align:left;">Trang chủ > @category.TenDM</h6>

    <h2 class="section-heading text-uppercase gothambold">
        Địa điểm du lịch lý tưởng @category.TenDM
    </h2>
    <p class="section-desc">
        Khám phá những điểm nổi bật của du lịch Việt Nam và tìm ý tưởng cho kỳ nghỉ của bạn với những địa điểm này.
    </p>
    <div class="row container-fluid no-padding">
        <div class="filter col-lg-3 col-md-4 no-margin no-padding">
            <div class="search container-fluid no-padding no-margin">
                <h6>Tìm kiếm</h6>
                @using (Html.BeginForm())
                {
                    <p>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <input type="submit" value="Tìm kiếm" style="background-color: #a5190e;color:#fff;border:none;padding:5px 0px" />
                    </p>
                }

                <div class="search container-fluid no-padding no-margin" style="padding:0px !important;">
                    <h6>Tìm kiếm theo khoảng ngày</h6>
                    <select class="form-select" name="" id="">
                        <option selected>Chọn khoảng ngày</option>
                        <option value=""> từ 1-2 ngày</option>
                        <option value=""> từ 1-5 ngày</option>
                        <option value=""> 5 ngày trở lên</option>
                    </select>
                </div>
                <br />


            </div>
        </div>
        <div class="inspired-nav col-lg-9 col-md-8">

            <section class="inspires-top">
                <div id="inspire-all" class="inspire ">
                    <div class="row">
                        <ul class="nav" style="text-align:left">
                            <li class="nav-item ">
                                <a class="nav-link disabled" aria-current="page" href="#">Sắp xếp</a>
                            </li>
                            <li class="nav-item ">

                                <a class="style_filter-li " style="min-width:70px;" href="@Url.Action("Index" , "TourCategory", new { sortOrder  = "Gia" })">Giá <i class="fas fa-chevron-circle-up"></i></a>
                            </li>

                            <li class="nav-item ">
                                <a class="style_filter-li " style="min-width:70px;" href="@Url.Action("Index" , "TourCategory", new { sortOrder =  "gia_desc"})">Giá  <i class="fas fa-chevron-circle-down"></i></a>
                            </li>


                            <li class="nav-item">

                                <a class="style_filter-li" style="min-width:85px;" href="@Url.Action("Index" , "TourCategory", new { sortOrder = "gia_1"})">0 - 3Tr</a>

                            </li>
                            <li class="nav-item ">

                                <a class="style_filter-li " style="min-width:85px;" href="@Url.Action("Index" , "TourCategory", new { sortOrder = "gia_2" })">3Tr - 10Tr</a>

                            </li>
                            <li class="nav-item ">

                                <a class="style_filter-li " style="min-width:85px;" href="@Url.Action("Index" , "TourCategory", new { sortOrder = "gia_3" })">10Tr - 25Tr</a>

                            </li>
                            <li class="nav-item ">

                                <a class="style_filter-li " style="min-width:85px;" href="@Url.Action("Index" , "TourCategory", new { sortOrder = "gia_4" })"><i class="fa fa-chevron-circle-right"></i> 25Tr</a>

                            </li>
                            <li class="nav-item ">

                                <a class="style_filter-li " style="min-width:85px;" href="@Url.Action("Index" , "TourCategory", new { sortOrder = "delete" })">Xóa bộ lọc</a>

                            </li>


                        </ul>
                        @foreach (var item in Model)
                        {
                            var url = "/chi-tiet/" + @item.TenTour + "-" + item.MaTour;
                            <div class="col-xs-12 col-lg-4 col-md-6 col-sm-6 no-padding block-tour-category">
                                <article class="big" style="height:280px">
                                    <a href="@url">

                                        <img src="~/wwwroot/images/@item.HinhAnh">
                                        <div class="inspire--desc">
                                            <h6>
                                                @item.DiaDiem
                                            </h6>
                                            <p class="montserrat-bold">
                                                @item.TenTour
                                                <br>
                                                <span> @item.ThoiGian </span> - <span class="price-tour">@(item.Gia.GetValueOrDefault(0).ToString("#,###")) VND </span>
                                            </p>

                                        </div>
                                    </a>
                                </article>
                            </div>
                        }
                    </div>
                    <br>

                    Trang  @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index",
                    new
                        {
                        page,
                        sortOrder = ViewBag.CurrentSort,
                        currentFilter = ViewBag.CurrentFilter
                        }))


                </div>
            </section>
        </div>
    </div>

</div>
<section id="also-like" data-module="alsoLike">
        <div class="container">
            <h2 class="section-heading northwell" style="color:#fff; font-weight:lighter">Xem thêm hình ảnh</h2>

            <div class="row">

                <div class="col-xs-12 col-lg-3 col-md-4 col-sm-6 no-padding block-tour-category">
                    <article class="big">
                        <a href="#">

                            <img src="~/wwwroot/images/Ferries Can Tho Vietnam Tourism.jpg" />
                        </a>
                    </article>
                </div>
                <div class="col-xs-12 col-lg-3 col-md-4 col-sm-6 no-padding block-tour-category">
                    <article class="big">
                        <a href="#">
                            <img src="~/wwwroot/images/Can Tho Travel Guide Vietnam Tourism_2.jpg" />

                        </a>
                    </article>
                </div>
                <div class="col-xs-12 col-lg-3 col-md-4 col-sm-6 no-padding block-tour-category">
                    <article class="big">
                        <a href="#">
                            <img src="~/wwwroot/images/ho-chi-minh.jpg" />

                        </a>
                    </article>
                </div>
                <div class="col-xs-12 col-lg-3 col-md-4 col-sm-6 no-padding block-tour-category">
                    <article class="big">
                        <a href="#">
                            <img src="~/wwwroot/images/nha-trang2.jpg" />

                        </a>
                    </article>
                </div>
                <div class="col-xs-12 col-lg-3 col-md-4 col-sm-6 no-padding block-tour-category">
                    <article class="big">
                        <a href="#">
                            <img src="~/wwwroot/images/responsible travel sapa.jpg" />

                        </a>
                    </article>
                </div>




            </div>
        </div>
    </section>
<section id="travel-toolkit " class="bg-light" style="width:100%">
    <div class=" bg-light block-travel-toolkit">
        <h2 class="section-heading text-uppercase gothambold">CÁC LỜI KHUYÊN DU LỊCH</h2>
        <p class="section-desc">Chuẩn bị cho chuyến đi của bạn với những bài viết thiết thực này</p>
        <div class="row block-toolkit-item">
            <div class="col-lg-2 text-center toolkit-item">
                <div class="thumbnail">
                    <a href="#">
                        <img src="~/Assets/Client/images/tips/Visas_1.jpg" />

                        <div class="caption text-uppercase">
                            <p>Visas</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 text-center toolkit-item">
                <div class="thumbnail">
                    <a href="./new-detail.html">
                        <img src="~/Assets/Client/images/tips/Transport_1.jpg" />

                        <div class="caption text-uppercase">
                            <p>TRANSPORT</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 text-center toolkit-item">
                <div class="thumbnail">
                    <a href="#">
                        <img src="~/Assets/Client/images/tips/Weather white_1.jpg" />

                        <div class="caption text-uppercase">
                            <p>WEATHER</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 text-center toolkit-item">
                <div class="thumbnail">
                    <a href="#">
                        <img src="~/Assets/Client/images/tips/Health and Safety_0.jpg" />

                        <div class="caption text-uppercase">
                            <p>SAFETY</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 text-center toolkit-item">
                <div class="thumbnail">
                    <a href="#">
                        <img src="~/Assets/Client/images/tips/History white_0.jpg" />

                        <div class="caption text-uppercase">
                            <p>HISTORY</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
@*<script src="~/Assets/Client/Js/Event.js"></script>*@