@model Model.EF.Tour
@using System.Web.Optimization
@{
    ViewBag.Title = "Chi tiết tour";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<h2>Chi tiết tour</h2>

<div>
   
    <dl class="dl-horizontal">
        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.DanhMuc.TenDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.TenDM)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.TenTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTour)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.DiaDiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaDiem)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.QuyMo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuyMo)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.PhuongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhuongTien)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.KhoiHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhoiHanh)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.GioiThieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiThieu)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.LichTrinhTour)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.LichTrinhTour)*@
            @Html.Raw(Model.LichTrinhTour)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.TourBaoGom)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.TourBaoGom)*@
            @Html.Raw(Model.TourBaoGom)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.TourKhongBaoGom)
        </dt>

        <dd>
           @* @Html.DisplayFor(model => model.TourKhongBaoGom)*@
            @Html.Raw(Model.TourKhongBaoGom)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.DieuKhoanHuyTour)
        </dt>

        <dd>
           @* @Html.DisplayFor(model => model.DieuKhoanHuyTour)*@
            @Html.Raw(Model.DieuKhoanHuyTour)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt class="text-white" style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaTour }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
