@model Model.EF.TaiKhoan

@{
    ViewBag.Title = "EditPass";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<h2>EditPass</h2>

@using (Html.BeginForm("EditPass", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4 style="margin-left: 20px; font-weight: 400 ">Tài khoản</h4>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group" style="display: flex; align-items: center; width: 78%;">
        @Html.LabelFor(model => model.TenDangNhap, "Tên tài khoản", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="tenTK" disabled value="@Model.TenDangNhap" />
            @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
        </div>
    </div>

   
    <div class="form-group" style="display: flex; align-items: center; width: 78%;">
        @Html.LabelFor(model => model.MatKhau, "Mật khẩu mới", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="Mat_Khau" class="password" type="password" value="" style="width: 100%; padding: 5px 0px 5px 12px; border: 1px solid #ced4da " />
            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="display: flex; align-items: center; justify-content: center;">
            <input type="submit" style="font-size: 18px; margin-top: 22px; background-color: #7c548f; color: #fff;" value="Sửa" class="submitbtn btn btn-default" />
        </div>
    </div>
</div>
}