@model IEnumerable<Model.EF.TaiKhoan>

@{
    ViewBag.Title = "ShowAccount";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<h2>ShowAccount</h2>


<table class="table table-bordered text-center">
    <tr>
        <th>
            Tên tài khoản
        </th>
      
        
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
           Điện thoại
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
           Họ tên
        </th>
        <th>
           Quyền
        </th>
        <th>
         Trạng thái
        </th>
        <th>
          Ngày tạo
        </th>
       
    </tr>

@foreach (var item in Model) {
<tr>
    <td>@Html.DisplayFor(modelItem => item.TenDangNhap)</td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoDienThoai)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiaChi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HoTen)
    </td>
    @if (@item.Quyen == -1)
    {
        <td>
            Khách hàng
        </td>
    }
    @if (item.TrangThai == true)
    {
        <td>
            Hoạt động
        </td>
    }
    else
    {
        <td>
           Bị khóa
        </td>
    }

    <td>
        @Html.DisplayFor(modelItem => item.NgayTao)
    </td>

</tr>
}

</table>
