@model IEnumerable<Model.EF.OrderDetail>
@{
    ViewBag.Title = "Doanh thu trong năm";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<h2>Doanh thu trong năm -  @ViewBag.TotalYear VND</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>
           Mã tour
        </th>
        <th>
            Tên tour
        </th>
        <th>
           Giá
        </th>
        <th>
           Số lượng
        </th>
        <td>Tổng tiền</td>
        <th>
            Ngày tạo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TourID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTour)
            </td>
            <td>
               @item.Price.GetValueOrDefault(0).ToString("N0")
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>@((item.Quantity.GetValueOrDefault(0)*item.Price.GetValueOrDefault(0)).ToString("N0"))</td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>


        </tr>
    }

</table>