@model Model.EF.HinhAnh

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}



<div>
    <h4>Chi tiết hình ảnh</h4>
    <hr />
    <dl class="dl-horizontal">
      

        <dt>
            @Html.DisplayNameFor(model => model.Tour.TenTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.TenTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaHinhAnh }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
